# Ignoring cmake files.
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Makefile
CTestTestFile.cmake
Testing/

            CTestTestfile.cmake
                Development/
                    Testing/
                        src/testing.cpp

# Ignoring the build file.
Development/
